@model PayrollSystem.Models.AnnualSalaryCalculator

@{
    ViewBag.Title = "Annual Salary Calculator";
}

<div class="container">
    <!--Wrapper Div-->
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.HourlyWages, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.HourlyWages, null, new { @type = "number", @step = "any", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HoursPerWeek, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.HoursPerWeek, null, new { @type = "number", @step = "any", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.WeeksPerYear, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.WeeksPerYear, Enumerable.Range(0, 52).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "-", new { @class = "form-control" })
            </div>

            @Html.LabelFor(m => m.AnnualSalary, new { @class = "control-label" }): $@ViewBag.AnnualSalary

            <div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span> Calculate
                </button>
            </div>
        </fieldset>
    }
</div>